*.md  linguist-detectable=true  
*.geojson  linguist-detectable=true  
*.svg  linguist-detectable=true  
*.excalidraw  linguist-detectable=true  
*.jpg  linguist-detectable=true  
*.jpeg  linguist-detectable=true  
*.excalidraw linguist-language=JSON  
*.geojson linguist-language=JSON  
*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
